<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>

    <% include ../partials/nav.ejs %>

    <div class="container">

      <!-- search bar container -->
      <div class="jumbotron">
        <p>Finding, confirming, and responding to incidents of hate</p>
        <div class="input-group input-group-lg">
          <span class="input-group-addon" >
            <i class="fa fa-search"></i>
          </span>
          <input id="search" type="text" class="form-control" placeholder="Search..." onkeydown="handle(event)" aria-describedby="search">
          <span class="input-group-btn">
            <button class="btn btn-info" type="submit" onclick="performSearch()">Go!</button>
          </span>
        </div>
      </div>

      <!-- three panels for content -->
      <div class="container">
        <div class="row">
          <div class="col-md-3" id="filters">
            <h3>Filter By</h3>
            <div class="panel-group">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" href="#discrim">Type of Discrimination</a>
                  </h4>
                </div>
                <div id="discrim" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <div class="checkbox">
                      <label><input type="checkbox" name="hate" value="race" onclick="filterSearch()">Race</label>
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox" name="hate" value="gender" onclick="filterSearch()">Gender</label>
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox" name="hate" value="LGBTQ" onclick="filterSearch()">LGBTQ</label>
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox" name="hate" value="religion" onclick="filterSearch()">Religion</label>
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox" name="hate" value="disability" onclick="filterSearch()">Disability</label>
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox" name="hate" value="immigration status" onclick="filterSearch()">Immigration Status</label>
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox" name="hate" value="violence" onclick="filterSearch()">Violence</label>
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox" name="hate" value="hate speech" onclick="filterSearch()">Hate Speech</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <h4>Business Type</h4>
            <div class="panel-group">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" href="#food-dining">Food and Dining</a>
                  </h4>
                </div>
                <div id="food-dining" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div class="checkbox">
                      <label><input type="checkbox" name="type" value="bar" onclick="filterSearch()">Bar</label>
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox" name="type" value="cafe" onclick="filterSearch()">Cafe</label>
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox" name="type" value="restaurant" onclick="filterSearch()">Restaurant</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="panel-group">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" href="#services">Services</a>
                  </h4>
                </div>
                <div id="services" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div class="checkbox">
                      <label><input type="checkbox" name="type" value="bank" onclick="filterSearch()">Bank</label>
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox" name="type" value="beauty_salon" onclick="filterSearch()">Beauty Salon</label>
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox" name="type" value="store" onclick="filterSearch()">Store</label>
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox" name="type" value="clothing_store" onclick="filterSearch()">Clothing Store</label>
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox" name="type" value="department_store" onclick="filterSearch()">Department Store</label>
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox" name="type" value="gym" onclick="filterSearch()">Gym</label>
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox" name="type" value="local_government_office" onclick="filterSearch()">Local Government Office</label>
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox" name="type" value="movie_theater" onclick="filterSearch()">Movie Theater</label>
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox" name="type" value="museum" onclick="filterSearch()">Museum</label>
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox" name="type" value="park" onclick="filterSearch()">Park</label>
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox" name="type" value="pharmacy" onclick="filterSearch()">Pharmacy</label>
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox" name="type" value="post_office" onclick="filterSearch()">Post Office</label>
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox" name="type" value="school" onclick="filterSearch()">School</label>
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox" name="type" value="shopping_mall" onclick="filterSearch()">Shopping Mall</label>
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox" name="type" value="spa" onclick="filterSearch()">Spa</label>
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox" name="type" value="pharmacy" onclick="filterSearch()">Pharmacy</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="panel-group">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" href="#transportation">Transportation</a>
                  </h4>
                </div>
                <div id="transportation" class="panel-collapse collapse">
                  <div class="panel-body">
                    <div class="checkbox">
                      <label><input type="checkbox" name="type" value="airport" onclick="filterSearch()">Airport</label>
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox" name="type" value="bus_station" onclick="filterSearch()">Bus Station</label>
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox" name="type" value="subway_station" onclick="filterSearch()">Subway Station</label>
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox" name="type" value="taxi_stand" onclick="filterSearch()">Taxi Stand</label>
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox" name="type" value="train_station" onclick="filterSearch()">Train Station</label>
                    </div>
                    <div class="checkbox">
                      <label><input type="checkbox" name="type" value="transit_station" onclick="filterSearch()">Transit Station</label>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <table id="searchHistory" class="table table-responsive table-striped">
                  <thead>
                    <tr><h3>Prior Searches</h3></tr>
                  </thead>
                  <tbody>   
                  </tbody>
                </table>
              </div>
            </div> 
            
          </div> <!-- /col-md-3 -->

          <div class="col-md-9" id="right-bar">
            <div class="row">
              <h3>Map</h3>
              <div class="col-md-9" id="map"></div>
            </div>
            
            <div class="row">
                <div id="table-styling">
                  <table id="results" class="table table-responsive table-hover">
                    <thead>
                      <tr><h3>Potential Hate Incidents</h3></tr>
                    </thead>
                    <tbody>      
                    </tbody>
                  </table>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="reviews" tabindex="-1" role="dialog" aria-labelledby="reviewLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="review-title">Modal title</h4>
                    <h5 class="modal-title" id="review-address">Address</h5>
                    <h5 class="modal-title" id="review-phone">123-456-789</h5>
                  </div>
                  <div class="modal-body" id="review-body">
                    <table id="review-table" class="table table-responsive">
                      <thead>
                        <tr><h5>Questionable Reviews</h5></tr>
                      </thead>
                      <tbody>      
                      </tbody>
                    </table>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div> <!-- /modal -->

          </div> <!-- /9 column row -->

        </div> <!-- /row no-gutter -->
      </div> <!-- /container -->


    </div> <!-- /container -->

    <footer class="footer">
      <div class="container">
        <p class="text-muted">&copy; GTJL 2017</p>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- from https://github.com/kristopolous/Porter-Stemmer -->
    <script type="text/javascript" src="/PorterStemmer1980.min.js"></script>
    <script type="text/javascript" src="/script.js"></script>
    <script type="text/javascript" src="/dictionary.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <script type="text/javascript" src="/store.min.js"></script>
    <!-- for some reason this is taking forever to load -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAryX0V3iDidh5L_Wg7UiykXGnifaotXL0&callback=initMap&libraries=places,visualization" async defer></script>
  </body>
</html>
